.button {
  width: fit-content;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  box-shadow: 0 0 3px var(--button-box-shadow);
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--button_border);
  color: var(--body_color);
  border-radius: 12px;
  margin: auto 5px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  border: 1px solid var(--button_border_hover);
  box-shadow: 0 0 8px var(--button-box-shadow);
}


.activeButton {
  color: var(--body_color);
  background: var(--input-color);
}

.inactiveButton {
  color: #2c3e50;
  background: #f9f9f9;
}